# MongoDB Configurations
# MONGO_DB_HOST = 'stackanalysisclust.nbbnhps.mongodb.net'
MONGO_DB_HOST = 'localhost'
MONGO_DB_USER = 'stack_analysis_igp'
MONGO_DB_PASSWORD = 'G20uokIJPrLugxyo'
MONGO_DB_PORT = '27017'
MONGO_DB_NAME = 'stack_exchange_analysis'

#Data File Paths
DATA_FILE_PATH = 'apps/backend/data_files'
PREDICTIONS_FILE_PATH = 'apps/backend/predictions'

# StackExchange Configurations
STACK_EXCHANGE_ACCESS_TOKEN = 'CfwLVy3isAX2UWOjSnc9Gg))'
STACK_EXCHANGE_KEY = 'azvngcTZRbJus3bU7b*lYA(('
FETCH_COUNT_PER_PAGE = 100
FETCH_PAGES = 10
