

      <footer class="footer">
        <div class="container-fluid">
          <ul class="nav">

          </ul>
          <div class="copyright">
            &copy; <a target="_blank" rel="sponsored noopener noreferrer"
                      href="https://bit.ly/3fKQZaL">Creative-Tim Theme</a>
            - Coded by <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/akash-liyanaarachchi-425748174/">Akash Manujaya</a>
          </div>
        </div>
      </footer>
      
