

    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a target="_blank" rel="sponsored noopener noreferrer"
             href="https://www.creative-tim.com/product/black-dashboard-flask" class="simple-text logo-mini">
            IGP
          </a>
          <a target="_blank" rel="sponsored noopener noreferrer"
             href="https://www.creative-tim.com/product/black-dashboard-flask" class="simple-text logo-normal">
            Group 4
          </a>
        </div>

        <ul class="nav">
            <li class="{% if 'index' in segment %} active {% endif %}">
                <a href="/">
                <i class="tim-icons icon-chart-pie-36"></i>
                <p>Dashboard</p>
             </a>
            </li>
            <li class="{% if 'complexity' in segment %} active {% endif %}">
                <a href="/complexity">
                  <i class="tim-icons icon-atom"></i>
                  <p>Complexity</p>
                </a>
            </li>
            <li class="{% if 'predictions' in segment %} active {% endif %}">
                <a href="/predictions">
                  <i class="tim-icons icon-planet"></i>
                  <p>Predictions</p>
                </a>
            </li>
            <li class="{% if 'ngram' in segment %} active {% endif %}">
                <a href="/ngram">
                  <i class="tim-icons icon-sound-wave"></i>
                  <p>NGram</p>
                </a>
            </li>
        </ul>
      </div>
    </div>
