{% extends "layouts/base.html" %}

{% block title %} Prediction {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row justify-content-center mb-4">
        <div class="col-xl-12 col-lg-12">
            <h3>MEET THE TEAM</h3>
        </div>

        <div class="col-xl-4 col-lg-6">
            <div class="card card-user">
                <div class="card-body">
                    <p class="card-text">
                    </p>
                    <div class="author">
                        <div class="block block-one"></div>
                        <div class="block block-two"></div>
                        <div class="block block-three"></div>
                        <div class="block block-four"></div>
                        <a href="javascript:void(0)">
                            <img class="avatar grayscale" src="/static/assets/img/avatars/paul.jpg"
                                 alt="Paul Matthews">
                            <h3 class="title">
                                Dr Paul Matthews
                            </h3>
                        </a>
                        <p class="description font-weight-300">
                           paul2.Matthews@uwe.ac.uk
                        </p>
                    </div>
                    <p></p>
                    <div class="card-description text-justify">
                        My current research interests include digital support for mental health, natural language processing and humanities analytics.
                        Course lead for MSc Data Science and MSc IT. Always interested in collaboration around topics for student projects, data hacks, student work experience.
                        My current teaching is on Social Media and Web Science and the Interdisciplinary Group Project, both at MSc level.
                    </div>
                </div>
                <div class="card-footer">
                    <div class="button-container">
                        <div class="d-flex justify-content-center" style="gap: 5px;">
                            <a target="_blank" href="https://www.linkedin.com/in/paulmatthewsuwe/"
                               class="btn btn-icon btn-round btn-linkedin center-icon">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6">
            <div class="card card-user" style="height: 95%">
                <div class="card-body">
                    <p class="card-text">
                    </p>
                    <div class="author">
                        <div class="block block-one"></div>
                        <div class="block block-two"></div>
                        <div class="block block-three"></div>
                        <div class="block block-four"></div>
                        <a href="javascript:void(0)">
                            <img class="avatar grayscale" src="/static/assets/img/avatars/akash.jpg"
                                 alt="Akash Manujaya">
                            <h3 class="title">
                                Akash Manujaya
                            </h3>
                        </a>
                        <p class="description font-weight-300">
                            akash2.liyanaarachchi@live.uwe.ac.uk
                        </p>
                    </div>
                    <p></p>
                    <div class="card-description text-justify">
                        I'm Akash Manujaya Liyanaarachchi, a skilled Software Engineer with a strong background in PHP
                        and Software Development.
                        I've developed various web applications, including a popular payment gateway and an RFQ
                        management system.
                        My technical skills are further enhanced by my ongoing master's degree in Data Science at the
                        University of the West of England, Bristol.
                    </div>
                </div>
                <div class="card-footer">
                    <div class="button-container">
                        <div class="d-flex justify-content-center" style="gap: 5px;">
                            <a target="_blank" href="https://www.linkedin.com/in/akash-liyanaarachchi-425748174/"
                               class="btn btn-icon btn-round btn-linkedin center-icon">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6">
            <div class="card card-user" style="height: 95%">
                <div class="card-body">
                    <p class="card-text">
                    </p>
                    <div class="author">
                        <div class="block block-one"></div>
                        <div class="block block-two"></div>
                        <div class="block block-three"></div>
                        <div class="block block-four"></div>
                        <a href="javascript:void(0)">
                            <img class="avatar grayscale" src="/static/assets/img/avatars/akash.jpg"
                                 alt="Akash Manujaya">
                            <h3 class="title">
                                Akash Manujaya
                            </h3>
                        </a>
                        <p class="description font-weight-300">
                            akash2.liyanaarachchi@live.uwe.ac.uk
                        </p>
                    </div>
                    <p></p>
                    <div class="card-description text-justify">
                        I'm Akash Manujaya Liyanaarachchi, a skilled Software Engineer with a strong background in PHP
                        and Software Development.
                        I've developed various web applications, including a popular payment gateway and an RFQ
                        management system.
                        My technical skills are further enhanced by my ongoing master's degree in Data Science at the
                        University of the West of England, Bristol.
                    </div>
                </div>
                <div class="card-footer">
                    <div class="button-container">
                        <div class="d-flex justify-content-center" style="gap: 5px;">
                            <a target="_blank" href="https://www.linkedin.com/in/akash-liyanaarachchi-425748174/"
                               class="btn btn-icon btn-round btn-linkedin center-icon">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6">
            <div class="card card-user">
                <div class="card-body">
                    <p class="card-text">
                    </p>
                    <div class="author">
                        <div class="block block-one"></div>
                        <div class="block block-two"></div>
                        <div class="block block-three"></div>
                        <div class="block block-four"></div>
                        <a href="javascript:void(0)">
                            <img class="avatar grayscale" src="/static/assets/img/avatars/akash.jpg"
                                 alt="Akash Manujaya">
                            <h3 class="title">
                                Akash Manujaya
                            </h3>
                        </a>
                        <p class="description font-weight-300">
                            akash2.liyanaarachchi@live.uwe.ac.uk
                        </p>
                    </div>
                    <p></p>
                    <div class="card-description text-justify">
                        I'm Akash Manujaya Liyanaarachchi, a skilled Software Engineer with a strong background in PHP
                        and Software Development.
                        I've developed various web applications, including a popular payment gateway and an RFQ
                        management system.
                        My technical skills are further enhanced by my ongoing master's degree in Data Science at the
                        University of the West of England, Bristol.
                    </div>
                </div>
                <div class="card-footer">
                    <div class="button-container">
                        <div class="d-flex justify-content-center" style="gap: 5px;">
                            <a target="_blank" href="https://www.linkedin.com/in/akash-liyanaarachchi-425748174/"
                               class="btn btn-icon btn-round btn-linkedin center-icon">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6">
            <div class="card card-user">
                <div class="card-body">
                    <p class="card-text">
                    </p>
                    <div class="author">
                        <div class="block block-one"></div>
                        <div class="block block-two"></div>
                        <div class="block block-three"></div>
                        <div class="block block-four"></div>
                        <a href="javascript:void(0)">
                            <img class="avatar grayscale" src="/static/assets/img/avatars/nalin.jpg"
                                 alt="Nalin Vishwajith">
                            <h3 class="title">
                                Nalin Vishwajith
                            </h3>
                        </a>
                        <p class="description font-weight-300">
                            nalin2.Hewaambepitiyage@live.uwe.ac.uk
                        </p>
                    </div>
                    <p></p>
                    <div class="card-description text-justify">
                        I am holding a Bachelor's degree in ICT from the University of Colombo School of Computing, Sri Lanka.
                        With 12 years of experience as a software engineer, senior software engineer, and IT manager, I am an expert in web application development and project management.
                        Currently following master's degree in Data Science at the University of the West of England, Bristol.
                    </div>
                </div>
                <div class="card-footer">
                    <div class="button-container">
                        <div class="d-flex justify-content-center" style="gap: 5px;">
                            <a target="_blank" href="https://www.linkedin.com/in/nalin-ambepitiya-59359231/"
                               class="btn btn-icon btn-round btn-linkedin center-icon">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6">
            <div class="card card-user">
                <div class="card-body">
                    <p class="card-text">
                    </p>
                    <div class="author">
                        <div class="block block-one"></div>
                        <div class="block block-two"></div>
                        <div class="block block-three"></div>
                        <div class="block block-four"></div>
                        <a href="javascript:void(0)">
                            <img class="avatar grayscale" src="/static/assets/img/avatars/asib.jpg"
                                 alt="Asib Siddique">
                            <h3 class="title">
                                Asib Siddique
                            </h3>
                        </a>
                        <p class="description font-weight-300">
                            md3.Siddique@live.uwe.ac.uk
                        </p>
                    </div>
                    <p></p>
                    <div class="card-description text-justify">
                        I'm a passionate data science enthusiast pursuing an MSc in Data Science, equipped with a BSc in Computing.
                        With expertise in Python, R, and data visualization tools, they seek part-time internships to gain industry experience.
                        My versatile skills span UI design and web development, and they possess fluency in English, Bengali, and Hindi.
                        Get ready to witness the future of data analysis with me.
                    </div>
                </div>
                <div class="card-footer">
                    <div class="button-container">
                        <div class="d-flex justify-content-center" style="gap: 5px;">
                            <a target="_blank" href="https://www.linkedin.com/in/asib-siddique-0534a6241"
                               class="btn btn-icon btn-round btn-linkedin center-icon">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <h2>THE PROJECT</h2>
            <div class="card card-chart p-3">
                <p class="text-justify">Welcome to our Stack Exchange Data Analysis web application! This project aims to provide insightful data
                    analysis and visualization of questions posted on Stack Overflow and Cross Validated related to Data Science.</p>
                <br>

                <h3>Project Overview</h3>
                <p class="text-justify">Our team of dedicated developers and data scientists built this web application as part of an
                    interdisciplinary group project. We were inspired by the vast amount of valuable knowledge shared by the
                    Stack Exchange community and wanted to explore and present this data in an interactive and user-friendly
                    manner.</p>
                <br>

                <h3>Key Features</h3>
                <ul class="text-justify">

                    <li class="mb-2">
                        <b>Data Collection:</b> We utilize the Stack Exchange API to fetch questions and related information
                        from Stack Overflow and Cross Validated. The data is then processed and stored in our database for analysis.
                    </li>
                    <li class="mb-2">
                        <b>Interactive Data Visualization:</b> Our web application provides a range of interactive data
                        visualizations, including charts, graphs, and plots, to help you gain deeper insights into the
                        trends and patterns within the Stack Exchange community.
                    </li>
                    <li class="mb-2">
                        <b>Tag Analysis:</b> You can explore questions based on specific programming language tags, data
                        science topics, machine learning techniques, and more. We offer a variety of filtering options to help you
                        narrow down your search.
                    </li>
                    <li class="mb-2">
                        <b>Complexity Scoring:</b> Questions are analyzed and assigned a complexity score, offering a
                        quantifiable measure of question difficulty and depth. These scores are then used to provide various
                        insights such as the distribution of question complexity, the correlation between complexity and
                        various factors, etc.
                    </li>
                    <li class="mb-2">
                        <b>Time Series Prediction:</b> Our application leverages time series analysis to predict future
                        trends in Stack Exchange data, such as the expected popularity of specific tags.
                    </li>
                    <li class="mb-2">
                        <b>N-gram Analysis:</b> Utilize our N-gram analysis feature to observe the prevalence of specific tags within a particular year.
                        The system calculates the percentage of questions associated with each tag from the total number of questions in that year.
                        This feature allows the addition of multiple tags, enabling users to compare the popularity of different topics over a ten-year span.</li>
                    <li class="mb-2">
                        <b>Coverage Analysis:</b> Evaluate the coverage of a particular topic across various tags, assessing
                        how comprehensively that topic is addressed within Stack Overflow.
                    </li>
                    <li class="mb-2">
                        <b>Summary Cards:</b> Quick summary data points are provided, including the total number of
                        questions analyzed, total number of users analyzed, total number of tags analyzed, and the average
                        complexity score trends.
                    <li class="mb-2">
                        <b>Tag Statistics:</b> We present tag-specific statistics, including mean, median, and mode of
                        complexity
                        scores, to help you understand the popularity and difficulty of various topics.
                    </li>
                    <li class="mb-2">
                        <b>User Engagement:</b> Discover the most active and influential users based on reputation and
                        contributions.
                    </li>

                </ul>
                <br>

                <h3>Data Privacy and Disclaimer</h3>
                <p class="text-justify">We take data privacy seriously and adhere to ethical practices while handling user information and data.
                    All data used in this web application is collected and processed following the terms and conditions set
                    by Stack Exchange API. The user data remains anonymous and is used solely for analytical purposes.</p>
                <br>

                <h3>Feedback and Support</h3>
                <p class="text-justify">We value your feedback and suggestions to improve this web application. If you encounter any issues or
                    have ideas to enhance user experience, please feel free to contact us through the provided contact
                    details.</p>
                <br>

                <h3>Acknowledgments</h3>
                <p class="text-justify">We extend our gratitude to Stack Overflow and its vibrant community for their valuable contributions.
                    Without their passion for sharing knowledge, this project would not have been possible.</p>
                <br>

                <p class="text-center font-weight-bold text-justify">Thank you for visiting our Stack Overflow Data Analysis web application. We hope you find it informative
                    and enjoyable! Happy exploring!</p>
            </div>
        </div>
    </div>




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
