{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header ">
            <div class="row">
              <div class="col-sm-6 text-left">
                <h5 class="card-category d-none show-after-data-load">Overall</h5>
                <h2 class="card-title d-none show-after-data-load">Tags Trend</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
              <div class="chart-area height-60vh">
                  <canvas id="complexity_histogram" class="height-60vh"></canvas>
                  <!-- Spinner Overlay -->
                  <div id="spinner-overlay" class="spinner-overlay" style="display: none;">
                    <div class="lds-ripple"><div></div><div></div></div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-12 d-flex">
            <div class="card card-chart">
              <div class="card-header ">
                <div class="row">
                  <div class="col-sm-6 text-left">
                    <h5 class="card-category d-none show-after-data-load">Overall</h5>
                    <h2 class="card-title d-none show-after-data-load">Tags Trend</h2>
                  </div>
                </div>
              </div>
              <div class="card-body">
                  <div class="chart-area">
                    <canvas id="score_vs_complexity_scatter"></canvas>
                    <!-- Spinner Overlay -->
                    <div id="scatter-spinner-overlay" class="spinner-overlay" style="display: none;">
                      <div class="lds-ripple"><div></div><div></div></div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    $(document).ready(function() {
        $('#spinner-overlay').show();
        $('#scatter-spinner-overlay').show();

        $.getJSON('/api/complexity_scores', function(data) {
            let labels = data.map(item => item.x);
            let frequencies = data.map(item => item.y);

            $('#spinner-overlay').hide();

            setTimeout(function() {
                charts.initComplexityHistogram(labels, frequencies);
            }, 0);
        });

        $.getJSON('/api/score_complexity', function(data) {
            charts.initScoreComplexityScatter(data);
            $('#scatter-spinner-overlay').hide();
        });
    });
</script>


{% endblock javascripts %}
