{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-lg-12 col-md-12 text-right">
            <button type="submit" name="check_complexity" id="check_complexity" class="btn btn-fill btn-primary check-complexity mb-2">Check Complexity</button>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-12 d-flex">
            <div class="card card-chart">
              <div class="card-header ">
                <div class="row">
                  <div class="col-sm-12 text-left">
                    <h5 class="card-category show-after-data-load">Scatter plot of random sample of 1000</h5>
                    <h3 class="card-title show-after-data-load">Complexity Score vs Question Score</h3>
                  </div>
                </div>
              </div>
              <div class="card-body">
                  <div class="chart-area height-min-content">
                    <canvas id="score_vs_complexity_scatter"></canvas>
                    <!-- Spinner Overlay -->
                    <div id="scatter-spinner-overlay" class="spinner-overlay" style="display: none;">
                      <div class="lds-ripple"><div></div><div></div></div>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 d-flex">
            <div class="card card-chart">
              <div class="card-header ">
                <div class="row">
                  <div class="col-sm-12 text-left">
                    <h5 class="card-category show-after-data-load">Last 10 years</h5>
                    <h3 class="card-title show-after-data-load">Complexity Quartile Over Time</h3>
                  </div>
                </div>
              </div>
              <div class="card-body">
                  <div class="chart-area height-min-content">
                    <canvas id="complexity_quartile_over_time"></canvas>
                    <!-- Spinner Overlay -->
                    <div id="complexity_quartile_over_time_overlay" class="spinner-overlay" style="display: none;">
                      <div class="lds-ripple"><div></div><div></div></div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-6 text-left">
                <h5 class="card-category show-after-data-load">Complexity Score</h5>
                <h2 class="card-title show-after-data-load">Histogram</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
              <div class="chart-area height-min-content">
                  <canvas id="complexity_histogram"></canvas>
                  <!-- Spinner Overlay -->
                  <div id="spinner-overlay" class="spinner-overlay" style="display: none;">
                    <div class="lds-ripple"><div></div><div></div></div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-6 text-left">
                <h5 class="card-category show-after-data-load">Top 10 Tags Complexity Score </h5>
                <h2 class="card-title show-after-data-load">Statistics</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
              <div class="chart-area height-min-content">
                  <canvas id="tag_statistics"></canvas>
                  <!-- Spinner Overlay -->
                  <div id="tag_statistics_overlay" class="spinner-overlay" style="display: none;">
                    <div class="lds-ripple"><div></div><div></div></div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
   <div class="modal fade" id="complexityModal" tabindex="-1" role="dialog" aria-labelledby="complexityModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
          <!-- Spinner Overlay -->
      <div id="check_complexity_overlay" class="spinner-overlay" style="display: none;">
        <div class="lds-ripple"><div></div><div></div></div>
      </div>
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title font-white text-capitalize font-weight-600" id="complexityModalLabel">Question Complexity Checker</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Form -->
            <form id="complexity-form">
                <div class="form-group">
                    <label for="question-text" class="col-form-label font-white">Enter your question:</label>
                    <textarea class="form-control" name="question" id="question"></textarea>
                </div>
                <div class="form-group">
                    <label for="tags" class="col-form-label font-white">Enter your tags:</label>
                    <input name="tags" id="tags" class="form-control">
                </div>
              <button type="submit" class="btn btn-primary">Check Complexity</button>
            </form>
            <!-- Score Result -->
            <div class="score-result" id="score-result" style="display: none;">
                <h3 class="text-white text-center text-uppercase">Your complexity score is</h3>
                <h4 class="text-white text-center text-capitalize">Approximately</h4>
                <canvas id="complexity-chart" class="m-auto"></canvas>
                <button id="check-another" class="btn btn-fill btn-primary mt-3">Check another question</button>
            </div>
          </div>
        </div>
      </div>
    </div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    $(document).ready(function() {
        CKEDITOR.replace('question');

        let input = document.querySelector('input[name=tags]');
        new Tagify(input, {
            maxTags: 5,
            enforceWhitelist: false
        });

        $('#spinner-overlay').show();
        $('#scatter-spinner-overlay').show();
        $('#complexity_quartile_over_time_overlay').show();
        $('#tag_statistics_overlay').show();


        $.getJSON('/api/complexity_quartile_over_time', function(data) {
            let dates = data.dates;
            let quartile_25 = data.quartile_25;
            let quartile_50 = data.quartile_50;
            let quartile_75 = data.quartile_75;

            charts.initComplexityQuartileOverTime(dates, quartile_25, quartile_50, quartile_75);
            $('#complexity_quartile_over_time_overlay').hide();

        });

        $.getJSON('/api/tag_statistics', function(data) {
            let labels = data.map(item => item.tag);
            let means = data.map(item => item.mean);
            let medians = data.map(item => item.median);
            let modes = data.map(item => item.mode);

            charts.initComplexityStatisticsOfTags(labels, means, medians, modes);
            $('#tag_statistics_overlay').hide();
        });

        $.getJSON('/api/complexity_scores', function(data) {
            let labels = data.map(item => item.x);
            let frequencies = data.map(item => item.y);

            $('#spinner-overlay').hide();

            setTimeout(function() {
                charts.initComplexityHistogram(labels, frequencies);
            }, 0);
        });

        $.getJSON('/api/score_complexity', function(data) {
            charts.initScoreComplexityScatter(data);
            $('#scatter-spinner-overlay').hide();
        });

        $("#check_complexity").click(function(){
            $("#complexityModal").modal('show');
        });

        $('#complexity-form').on('submit', function(e) {
            e.preventDefault();

            // update textarea with CKEditor content
            let editorContent = CKEDITOR.instances.question.getData();
            $('#question').val(editorContent)

            if ( editorContent === '') {
                // Show SweetAlert and stop the Ajax request
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Question text cannot be empty!',
                });
                return;
            }

            $('#check_complexity_overlay').show();

            // Send AJAX request
            $.ajax({
              type: 'POST',
              url: '/api/calculate_complexity_score',
              data: $(this).serialize(),
              success: function(data) {
                  setTimeout(function (){
                      $('#complexity-form').hide();
                      $('#score-result').show();
                      $('#check_complexity_overlay').hide();
                      charts.initComplexityDonut(data.score)
                  }, 1000)
              },

              error: function() {
                $('#loader').hide();
                $('#complexity-form').show();
                alert('Error calculating complexity score.');
              }
            });
        });

          // Handle click on "Check another question" button
        $('#check-another').on('click', function() {
            // Show the form and hide the result
            $('#complexity-form').show();
            $('#score-result').hide();
        });

        // Event listener for when the modal is hidden
        $('#complexityModal').on('hidden.bs.modal', function (e) {
          // Reset the form
          CKEDITOR.instances.question.setData('');

          // Hide the donut chart
          $('#score-result').hide();

          // Show the form
          $('#complexity-form').show();

        });

    });

</script>


{% endblock javascripts %}
